

#productStyle{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#productStyle .card{
    margin: 10px;
}


#productStyle1{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#productStyle1 .card{
    margin: 10px;

}

